
<div class="col-sm-2">
    <ul>
        <li><a href="/inventory">Home</a></li>
        <li><a href="/inventory/items">All Items</a></li>
        <li><a href="/inventory/brands">All Brands</a></li>
        <li><a href="/inventory/categories">All Categories</a></li>
        <hr>
        <li><a href="">Create New Item</a></li>
        <li><a href="">Create New Brand</a></li>
        <li><a href="/inventory/category/create">Create New Category</a></li>
    </ul>
</div>
