
<div class="col-sm-2">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">All Items</a></li>
        <li><a href="">All Brands</a></li>
        <li><a href="">All Categories</a></li>
        <hr>
        <li><a href="">Create New Item</a></li>
        <li><a href="">Create New Brand</a></li>
        <li><a href="">Create New Category</a></li>
    </ul>
</div>
